{% macro wine_post_form(action, attributes, rypaleet, maat) %}


<form method="post" action={{action}} style="display: inline-block;" id ="wine-form">

    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="nimi" class="form-control" value="{{attributes.nimi}}">
    </div>
    <div class="form-group">
        <label>Tyyppi</label>
        <select name="tyyppi" class="form-control" value="{{attributes.viinityyppi_id}}">

            {% if attributes %}
            <option selected value="{{attributes.viinityyppi_id}}">{{attributes.viinityyppi_id}}</option>
            {% endif %}
            <option value="1">Punaviini</option>
            <option value="2">Valkoviini</option>
            <option value="3">Kuohuviini</option>
            <option value="4">Roseeviini</option>
            <option value="5">Jälkiruokaviini</option>
            <option value="6">Shampanja</option>
            <option value="7">Portviini</option>

        </select>
    </div>
    <div class="form-group">
        <label>Vuosikerta</label>
        <select name="vuosikerta" class="form-control">

            {% if attributes %}
            <option selected value="{{attributes.vuosikerta}}">{{attributes.vuosikerta}}</option>
            {% else %}

            <option selected value="2014">2014</option>
            {% endif %}
            {% for i in 1900..2015 %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}

            <!--vaihtoehtoinen kokeiluversio-->
            <!--<option value="2009">2009</option>-->
            <!--<option value="2010">2010</option>-->
            <!--<option value="2011">2011</option>-->
            <!--<option value="2012">2012</option>-->
        </select>
    </div>
    <div class="form-group">
        <label>Alkoholia (% vol)</label>
        <input type="text" name="alkoholi" class="form-control" value="{{attributes.alkoholi}}">
    </div>
    <div class="form-group">
        <label>Sokeria (g/l)</label>
        <input type="text" name="makeus" class="form-control" value="{{attributes.makeus}}">
    </div>
    <div class="form-group">
        <label>Happoja (g/l)</label>
        <input type="text" name="happo" class="form-control" value="{{attributes.happo}}">
    </div>
    <div class="form-group">
        <label>Uutos (g/l)</label>
        <input type="text" name="uutos" class="form-control" value="{{attributes.uutos}}">
    </div>

    <div class="form-group">
        <label>Kuvaus</label>

        <input type="text" name="kuvaus" class="form-control" value="{{attributes.kuvaus}}">
    </div>
    <div class="form-group">
        <label>Alkuperämaa</label>
        <select name="kotimaa_id" class="form-control">

            {% if attributes %}
            <option selected value="{{attributes.kotimaa_id}}">{{maat[attributes.kotimaa_id].toString()}}</option>
            {% endif %}

            {% for maa in maat %}
            <option value="{{maa.id}}">{{maa.toString()}}</option>
            {% endfor %}
        </select>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>


{% endmacro %}
