{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{% if message %}

<div class="alert alert-success">
    {{message}}
</div>

{% endif %}

<!--Teen myöhemmin erikseen taulukkopohjan jota voi käyttää pohjana rypaleen näyttämiselle, niin sitä ei tarvitse joka kerta erikseen koodata-->

<h1>{{rypale.nimi}}</h1>

{{forms.destroy_button("#{base_path}/rypale/#{rypale.id}/destroy")}}
{{forms.link_button("#{base_path}/rypale/#{rypale.id}/edit")}}

<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nimi</th>
            <th>Väri</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{rypale.nimi}}</td>
            <td>{{rypale.vari()}}</td>

        </tr>
        </tbody>
    </table>
</div>

<div class="col-md-10">
{{rypale.kuvaus}}
</div>

</p></section>



{% endblock %}