{% extends "base.html" %}
{% block content %}

<h1>Viinisuosittelija</h1>

<section><p>
    Tähän tulee sivuston esittelyteksti ja varmaan jotain kuvia.
</p></section>

<section><p>

    <h2>Uusimmat Viinit</h2>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Nimi</th>
            <th>Tyyppi</th>
            <th>Makeusaste/Täyteläisyys</th>
            <th>Hapokkuus/Tanniinisuus</th>
            <th>Kotimaa</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Perusvalkkarin nimi</td>
            <td>Valkoviini</td>
            <td>Puolikuiva</td>
            <td>Hapokas</td>
            <td>Saksa</td>
        </tr>
        <tr>
            <td>Peruspunkku</td>
            <td>Punaviini</td>
            <td>Täyteläinen</td>
            <td>Keskitanniininen</td>
            <td>Italia</td>
        </tr>
        </tbody>
    </table>

    </p></section>


{% endblock %}
