{% extends "base.html" %}
{% block content %}
<h1>Hippi Hei Valkkari</h1>
<!-- Painikkeet tähän -->
<p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
</p>
<!-- Tiedot tulee listana/parannellussa versiossa taulukkona tähän -->
<p><strong>Pinot Grigio, Muscat</strong></p>
<p>Lyhyt sanallinen kuvaus</p>
<ul>
    <li>Tyyppi: Valkoviini</li>
    <li>Makeusaste: Puolikuiva</li>
    <li>Hapokkuus: Keskihapokas</li>
    <li>Kotimaa: USA</li>
</ul>
<!-- Listaus teknisistä tiedoista, esim. sokeripitoisuus, happoja/litra -->

<ul>
    <li>Sokeripitoisuus: 17 g/l</li>
    <li>Happoja: 6,5 g/l</li>
    <li>Yms</li>

</ul>
<p></p>
{% endblock %}