{% extends "base.html" %}
{% block content %}

{% import "macros/viini_table.html" as table %}

<h1>Viinisuosittelija</h1>

<section><p>
    Viinit, lajitellaan myöhemmin tyypeittäin
</p></section>

<section><p>
    <!--Teen myöhemmin erikseen taulukkopohjan jota voi käyttää pohjana viinien näyttämiselle, niin sitä ei tarvitse joka kerta erikseen koodata-->

    <h2>Kaikki Viinit</h2>


    {% if user_logged_in%}
    <p><a href="{{base_path}}/viini/new" class="btn btn-info">Lisää uusi</a>
    </p>
    {% endif %}


    {{table.table(viinit, maat)}}

    </p></section>


{% endblock %}