{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{% if message %}

<div class="alert alert-success">
    {{message}}
</div>

{% endif %}

<h1>{{viini.nimi}}</h1>
<!-- Painikkeet tähän -->

{% if user_logged_in%}
{{forms.destroy_button("#{base_path}/viini/#{viini.id}/destroy")}}
{{forms.link_button("#{base_path}/viini/#{viini.id}/edit")}}
{% endif %}

<!--<p>-->
<!--<button class="btn btn-danger">Poista</button>-->
<!--<a href="edit" class="btn btn-default">Muokkaa</a>-->
<!--</p>-->
<!-- Tiedot tulee listana/parannellussa versiossa taulukkona tähän -->


<p><strong>
    <ul>

        {% for rypale in rypaleet %}
            <a href="{{base_path}}/rypale/{{rypale.id}}">{{rypale.nimi}}  </a>
        {% endfor %}
    </ul>
</strong></p>

<p>{{viini.kuvaus}}</p>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Tyyppi</th>
            <th>{% if viini.onPunaviini() %}
                Täyteläisyys
                {% else %}
                Makeus
                {% endif %}
            </th>
            <th>{% if viini.onPunaviini() %}
                Tanniinisuus
                {% else %}
                Hapokkuus

                {% endif %}
            </th>
            <th>Kotimaa</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{viini.tyyppi()}}</td>
            <td>{% if viini. onPunaviini()%}
                {{viini.taytelaisyys()}}
                {% else %}
                {{viini.makeus()}}

                {% endif %}
            </td>
            <td>
                {{viini.hapokkuus()}}
            </td>
            <td>{{kotimaa.toString()}}</td>
        </tr>
        </tbody>

    </table>
</div>


<!-- Listaus teknisistä tiedoista, esim. sokeripitoisuus, happoja/litra -->
<p>
<ul>{% if viini.makeus %}
    <li>Sokeripitoisuus:
        {{viini.makeus}} g/l
    </li>
    {% endif %}
    <li>Happoja: {{viini.happo}} g/l</li>
    <li>Uutosta: {{viini.uutos}} g/l</li>
    <li>Vuosikerta: {{viini.vuosikerta}}</li>

</ul></p>
<p></p>
{% endblock %}